body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 0 16px;
}

.back-button {
  display: inline-block;
  margin-bottom: 12px;
}

.back-button img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.tab-button {
  flex: 1;
  background: none;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 600;
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  position: relative;
  transition: all 0.3s ease;
}

.tab-button.active {
  color: #000;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #3b82f6;
}

.tab-content {
  display: none;
  margin-top: 24px;
}

.tab-content.active {
  display: block;
}

.tab-content h3 {
  color: #213943;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
}

.ticket-card {
  background-image: url("../assets/img/tiketSaya.png");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
  height: 190px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.ticket-card .text-wrapper {
  padding: 12px 24px 20px 100px;
  width: 100%;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.ticket-title {
  font-weight: 400;
  font-size: 23px;
  color: #000;
  font-family: Poppins;
  margin-bottom: 4px;
}

.ticket-time {
  font-size: 14px;
  color: #000;
  font-family: Inter;
  font-weight: 400;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.ticket-price {
  color: #213943;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
}

/* media query */
@media (max-width: 600px) {
  .tabs {
    gap: 4px;
  }

  .tab-button {
    font-size: 14px;
    padding: 10px 0;
  }

  .ticket-card {
    height: 140px;
    background-repeat: no-repeat;
  }

  .ticket-card .text-wrapper {
    padding: 12px 12px 16px 36px;
  }

  .ticket-title {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ticket-time {
    font-size: 12px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ticket-price {
    font-size: 15px;
    margin-top: 20px;
  }
}
