body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding: 0 100px;
}

.tab-btn {
  background: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-bottom: 3px solid transparent;
  transition: border 0.3s;
  font-size: 16px;
}

.tab-btn-left {
  margin-left: auto;
}

.tab-btn-right {
  margin-right: auto;
}

.tab-btn.active {
  border-bottom: 3px solid #2b9cff;
  color: #2b9cff;
}

.dropdown {
  margin: 10px 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #eee;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
