* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9fbff;
  color: #1a2a3a;
}


.modal-success {
/* display: none; */
position: fixed;
z-index: 999;
left: 0;
top: 0;
width: 100%;
height: 100%;
/* background-color: rgba(0, 0, 0, 0.5); */
}

.modal-success .modal-content {
background-color: #fff;
margin: 10% auto;
padding: 20px 30px;
border-radius: 12px;
width: 90%;
max-width: 400px;
text-align: center;
position: relative;
box-shadow: 0 8px 30px 6px rgba(0, 0, 0, 0.08);
}

.modal-success .close {
position: absolute;
top: 12px;
right: 20px;
font-size: 22px;
font-weight: bold;
color: #333;
cursor: pointer;
}


.btn-history {
display: block;
margin: 16px auto 0;
padding: 10px 24px;
border-radius: 10px;
font-weight: 600;
font-family: Poppins;
font-size: 15px;
text-align: center;
text-decoration: none;
}

.btn-history {
background-color: #74c1ff;
color: white;
width: 100%;
margin-top: 20px;
}

.btn-share:hover,
.btn-history:hover {
background-color: #4a9de8;
}
